[run]
source = blognado
omit =
    blognado/apps/core/migrations/*,
    blognado/apps/core/management/*,
    blognado/settings/*,
    *__init__*,
    *.html

[report]
exclude_lines =
    pragma: no cover
    def __str__
    except ImportError
    pass